.btn-primary {
    width: 30%;
    margin: 1.5rem 0 0 5rem;
    height: 4rem;
    border-radius: .5rem;
    background-color: $primary-color;
    border: none;
    color: $white-color;
    font-size: 1.3rem;
    outline: none;
    cursor: pointer;
}